USE [master]
GO
/****** Object:  Database [BlogDb]    Script Date: 19.11.2025 02:58:50 ******/
CREATE DATABASE [BlogDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BlogDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlogDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BlogDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogDb]
GO
/****** Object:  Table [dbo].[BlogEtiketler]    Script Date: 19.11.2025 02:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogEtiketler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NOT NULL,
	[EtiketId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogYazilari]    Script Date: 19.11.2025 02:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogYazilari](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Ozet] [nvarchar](500) NULL,
	[Icerik] [nvarchar](max) NOT NULL,
	[AnaGorsel] [nvarchar](255) NULL,
	[KategoriId] [int] NOT NULL,
	[YazarId] [int] NOT NULL,
	[GoruntulemeSayisi] [int] NOT NULL,
	[Durum] [int] NOT NULL,
	[YayinTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiketler]    Script Date: 19.11.2025 02:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiketler](
	[EtiketId] [int] IDENTITY(1,1) NOT NULL,
	[EtiketAdi] [nvarchar](50) NOT NULL,
	[KullanimSayisi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EtiketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 19.11.2025 02:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 19.11.2025 02:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](255) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[ProfilResmi] [nvarchar](255) NULL,
	[Rol] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 19.11.2025 02:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[YorumIcerik] [nvarchar](1000) NOT NULL,
	[Onaylandi] [bit] NOT NULL,
	[IpAdresi] [nvarchar](50) NULL,
	[UstYorumId] [int] NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlogEtiketler] ON 

INSERT [dbo].[BlogEtiketler] ([Id], [BlogId], [EtiketId]) VALUES (1, 4, 1)
INSERT [dbo].[BlogEtiketler] ([Id], [BlogId], [EtiketId]) VALUES (2, 4, 2)
INSERT [dbo].[BlogEtiketler] ([Id], [BlogId], [EtiketId]) VALUES (3, 5, 2)
SET IDENTITY_INSERT [dbo].[BlogEtiketler] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogYazilari] ON 

INSERT [dbo].[BlogYazilari] ([BlogId], [Baslik], [Ozet], [Icerik], [AnaGorsel], [KategoriId], [YazarId], [GoruntulemeSayisi], [Durum], [YayinTarihi]) VALUES (3, N'herkes haddini bilecek', N'buradaki kisiler hadidni bilen kisilerdir baskası deil', N'asgdshdfhdfaskgjlkşasjglkasjgşlkjasşlkgjşalkj asjgşlkjasş kgjşask jkşglajs şkja sşlkjgşlaskj lkadjlş kajşl kgdjaşlgk jşaldkjş lkad', N'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png', 2, 1, 14, 2, CAST(N'2025-09-09T00:00:00.000' AS DateTime))
INSERT [dbo].[BlogYazilari] ([BlogId], [Baslik], [Ozet], [Icerik], [AnaGorsel], [KategoriId], [YazarId], [GoruntulemeSayisi], [Durum], [YayinTarihi]) VALUES (4, N'kakassss', N'asklşjgasjgşlajsşgljaşg', N'şaljgşljdşljglşijlişdljagşljdşsaljgşaljdşaljgşdlajşgljadşaljg', N'https://refikyilmaz.com.tr/wp-content/uploads/2019/05/resim-nedir-turleri-ve-stilleri.jpg', 3, 5, 14, 1, CAST(N'2025-08-08T00:00:00.000' AS DateTime))
INSERT [dbo].[BlogYazilari] ([BlogId], [Baslik], [Ozet], [Icerik], [AnaGorsel], [KategoriId], [YazarId], [GoruntulemeSayisi], [Durum], [YayinTarihi]) VALUES (5, N'ıııııııı', N'ıasghşlksahglkşahsg', N'askşljgasjşlgşjasigiaslgialiglasgliaslgsg', N'https://blog.koctas.com.tr/wp-content/uploads/2022/04/resim-hobisi.jpg', 3, 5, 12, 1, CAST(N'2025-05-05T16:43:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BlogYazilari] OFF
GO
SET IDENTITY_INSERT [dbo].[Etiketler] ON 

INSERT [dbo].[Etiketler] ([EtiketId], [EtiketAdi], [KullanimSayisi]) VALUES (1, N'tatassa', 4)
INSERT [dbo].[Etiketler] ([EtiketId], [EtiketAdi], [KullanimSayisi]) VALUES (2, N'vava', 5)
INSERT [dbo].[Etiketler] ([EtiketId], [EtiketAdi], [KullanimSayisi]) VALUES (4, N'mama', 0)
SET IDENTITY_INSERT [dbo].[Etiketler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi]) VALUES (8, N'asas')
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi]) VALUES (3, N'dada')
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi]) VALUES (2, N'eeee')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciId], [KullaniciAdi], [Email], [Sifre], [AdSoyad], [ProfilResmi], [Rol]) VALUES (1, N'emre', N'asgasg@hotmail.com', N'sasa', N'Emre Yaşıru', NULL, N'Admin')
INSERT [dbo].[Kullanicilar] ([KullaniciId], [KullaniciAdi], [Email], [Sifre], [AdSoyad], [ProfilResmi], [Rol]) VALUES (5, N'mehmet', N'asgg@hotmail.com', N'1234', N'Mehmet Şimşek', NULL, N'Yazar')
INSERT [dbo].[Kullanicilar] ([KullaniciId], [KullaniciAdi], [Email], [Sifre], [AdSoyad], [ProfilResmi], [Rol]) VALUES (7, N'admin', N'askd@hotmail.com', N'1234', N'Mert Kara', NULL, N'Admin')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([YorumId], [BlogId], [Ad], [Email], [YorumIcerik], [Onaylandi], [IpAdresi], [UstYorumId], [OlusturmaTarihi]) VALUES (2, 5, N'jajaj', N'asm@hotmail.com', N'asköasrkaskask', 1, NULL, NULL, CAST(N'2025-11-08T04:55:04.710' AS DateTime))
INSERT [dbo].[Yorumlar] ([YorumId], [BlogId], [Ad], [Email], [YorumIcerik], [Onaylandi], [IpAdresi], [UstYorumId], [OlusturmaTarihi]) VALUES (3, 5, N'asgag', N'asgasg@hotmail.com', N'agsasg', 1, NULL, NULL, CAST(N'2025-11-08T04:47:35.397' AS DateTime))
INSERT [dbo].[Yorumlar] ([YorumId], [BlogId], [Ad], [Email], [YorumIcerik], [Onaylandi], [IpAdresi], [UstYorumId], [OlusturmaTarihi]) VALUES (5, 8, N'asgasg', N'asg@gmail.com', N'dfjhdfj', 1, NULL, NULL, CAST(N'2025-11-11T05:31:29.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Etiketle__3A42154ECC20896E]    Script Date: 19.11.2025 02:58:51 ******/
ALTER TABLE [dbo].[Etiketler] ADD UNIQUE NONCLUSTERED 
(
	[EtiketAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kategori__110FF79E1A2F41AE]    Script Date: 19.11.2025 02:58:51 ******/
ALTER TABLE [dbo].[Kategoriler] ADD UNIQUE NONCLUSTERED 
(
	[KategoriAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__5BAE6A75EF7E5994]    Script Date: 19.11.2025 02:58:51 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D105347D069A94]    Script Date: 19.11.2025 02:58:51 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlogYazilari] ADD  DEFAULT ((0)) FOR [GoruntulemeSayisi]
GO
ALTER TABLE [dbo].[BlogYazilari] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Etiketler] ADD  DEFAULT ((0)) FOR [KullanimSayisi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ('Yazar') FOR [Rol]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT ((0)) FOR [Onaylandi]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[BlogEtiketler]  WITH CHECK ADD FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogYazilari] ([BlogId])
GO
ALTER TABLE [dbo].[BlogEtiketler]  WITH CHECK ADD FOREIGN KEY([EtiketId])
REFERENCES [dbo].[Etiketler] ([EtiketId])
GO
ALTER TABLE [dbo].[BlogYazilari]  WITH CHECK ADD  CONSTRAINT [FK_BlogYazilari_Kategori] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[BlogYazilari] CHECK CONSTRAINT [FK_BlogYazilari_Kategori]
GO
ALTER TABLE [dbo].[BlogYazilari]  WITH CHECK ADD  CONSTRAINT [FK_BlogYazilari_Yazar] FOREIGN KEY([YazarId])
REFERENCES [dbo].[Kullanicilar] ([KullaniciId])
GO
ALTER TABLE [dbo].[BlogYazilari] CHECK CONSTRAINT [FK_BlogYazilari_Yazar]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogYazilari] ([BlogId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Blog]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Ust] FOREIGN KEY([UstYorumId])
REFERENCES [dbo].[Yorumlar] ([YorumId])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Ust]
GO
ALTER TABLE [dbo].[BlogYazilari]  WITH CHECK ADD  CONSTRAINT [CK_BlogYazilari_Durum] CHECK  (([Durum]=(2) OR [Durum]=(1) OR [Durum]=(0)))
GO
ALTER TABLE [dbo].[BlogYazilari] CHECK CONSTRAINT [CK_BlogYazilari_Durum]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [CK_Kullanicilar_Rol] CHECK  (([Rol]='Yazar' OR [Rol]='Admin'))
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [CK_Kullanicilar_Rol]
GO
USE [master]
GO
